<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fyp.service.mapper.MsgRecordMapper">
    <parameterMap id="msgRecordMap" type="com.fyp.entity.MsgRecord">
        <parameter property="from" />
        <parameter  property="to" />
        <parameter  property="room" />
        <parameter  property="createAt" />
        <parameter  property="msgType" />
    </parameterMap>
   <insert id="addRecord" parameterMap="msgRecordMap">
       INSERT INTO msg_record (id,from_id,to_id,room_id,contents,create_at,mtype) values (#{id},#{from},#{to},#{room},#{contents},#{createAt},#{msgType})
   </insert>

</mapper>