<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
<scetion layout:fragment="content">
    <div class="main layui-clear">

        <div class="fly-panel fly-panel-user">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">登入</li>
                    <li><a href="reg.html" th:href="@{/account/reg}">注册</a></li>
                </ul>
                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 50px;">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form layui-form-pane">
                            <form th:action="@{/account/login}" th:method="post">
                                <div class="layui-form-item">
                                    <label for="L_email" class="layui-form-label">账号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="L_email" name="username" required="required" lay-verify="required" autocomplete="off" class="layui-input" value="huangshang"/>
                                    </div>
                                    <div class="layui-form-mid"  th:if="${session.login_msg}=='account'">
                                        <span style="color: #c00;">用户账号不存在</span>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="L_pass" class="layui-form-label">密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" id="L_pass" name="password" required="required" lay-verify="required" autocomplete="off" class="layui-input" value="123123"/>
                                    </div>
                                    <div class="layui-form-mid"  th:if="${session.login_msg}=='pwd'">
                                        <span style="color: #c00;">密码错误</span>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-form-mid" th:if="${session.login_msg}=='other'">
                                        <span style="color: #c00;" >登录异常，请重试</span>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn" lay-filter="*" lay-submit="true">立即登录</button>
                                    <span style="padding-left:20px;">
                  <a href="forget.html">忘记密码？</a>
                </span>
                                </div>
                                <div class="layui-form-item fly-form-app">
                                    <span>或者使用社交账号登入</span>
                                    <a href="http://fly.layui.com:8098/app/qq" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                                    <a href="http://fly.layui.com:8098/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</scetion>
</body>
</html>