<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
<scetion layout:fragment="content">
    <div class="main layui-clear">

        <div class="fly-panel fly-panel-user">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li><a href="login.html">登入</a></li>
                    <li class="layui-this">注册</li>
                </ul>
                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 50px;">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form layui-form-pane">
                            <form method="post" th:action="@{/account/reg}">
                                <div class="layui-form-item">
                                    <label for="L_email" class="layui-form-label">账号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="L_email" name="account" required="required" lay-verify="required" autocomplete="off" class="layui-input" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="L_username" class="layui-form-label">昵称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="L_username" name="nickname" required="required" lay-verify="required" autocomplete="off" class="layui-input"/>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="L_pass" class="layui-form-label">密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" id="L_pass" name="password" required="required" lay-verify="required" autocomplete="off" class="layui-input"/>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="L_repass" class="layui-form-label">确认密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" id="L_repass" name="repassword" required="required" lay-verify="required" autocomplete="off" class="layui-input"/>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="L_vercode" class="layui-form-label">人类验证</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="L_vercode" name="vercode" required="required" lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input"/>
                                    </div>
                                    <div class="layui-form-mid" th:if="${session.reg_code!=null}">
                                        <span style="color: #c00;" th:text="${session.reg_code}"></span>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn" lay-filter="*" lay-submit="true">立即注册</button>
                                </div>
                                <div class="layui-form-mid" th:if="${session.reg_msg!=null}">
                                    <span style="color: #c00;" th:text="${session.reg_msg}">注册失败，请重试</span>
                                </div>
                                <div class="layui-form-item fly-form-app">
                                    <span>或者直接使用社交账号快捷注册</span>
                                    <a href="http://fly.layui.com:8098/app/qq" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                                    <a href="http://fly.layui.com:8098/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</scetion>
</body>
</html>