<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
<scetion layout:fragment="content">
    <div class="main">
        <div class="fly-panel">
            <div class="fly-none">
                <h2><i class="iconfont icon-404"></i></h2>
                <p>你瞧！页面或者数据被<a href="http://fly.layui.com/u/336"> 纸飞机 </a>运到火星了</p>
            </div>
        </div>
    </div>
</scetion>

</body>

</html>