<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title >SpringBoot For LayIM</title>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <script th:src="@{/js/layui/layui.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header">Header</div>
<script th:inline="javascript">
    layui.cache.page = '';
    layui.cache.user = {
        username: '游客'
        ,uid: -1
        ,avatar: '../res/images/avatar/00.jpg'
        ,experience: 83
        ,sex: '男'
    };
    layui.config({
        version: "2.0.0"
        ,base: '/js/mods/'
    }).extend({
        socket: 'socket',
        req:'req',
        fly: 'index'
    }).use('fly');
    var events = {};
    layui.use('jquery',function ($) {
        //注册全局js onclick事件
        $(function () {
            $('body').on('click', '*[lay-event]', function(e){
                var othis = $(this), method = othis.attr('lay-event');
                events[method]?events[method].call(this,othis,e):'';
            });
        });
    })
</script>
<div layout:fragment="content" id="content" ></div>
<div th:replace="fragments/footer :: footer">footer</div>
</body>
</html>